.user{
    border: 2px solid #ccc;
    padding: 8px 16px;
    background: magenta;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
li, ul {
    list-style-type: none;
}
.user-atrb{
    flex: 1;
    color: cornsilk;
}
.user-delete{
    flex: 1 1;
    border-radius: 22px;
    background: magenta;
    color: cornsilk;
    text-align: center;
    margin-top: 1px;
    
    cursor: pointer;
    margin-left: 10px;
    border: double;
}
.user-edit{
    flex: 1 1;
    border-radius: 22px;
    background: magenta;
    
    text-align: center;
    margin-top: 1px;
   
    border: double;
    cursor: pointer
}
.user-edit{
  cursor: pointer;
  background-color: magenta;
  color: cornsilk;
  padding-top: 0px;
}
.user-delete{
    cursor: pointer;
  background-color: magenta;
  color: cornsilk;
  padding-top: 0px;
  

}
